@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    text-align: center;
}

h1{
    letter-spacing: 2px;
}

label{
    font-size: 22px;
    font-weight: normal;
}

#spaceEvents{
    font-size: inherit;
    color: black;
}

#months{
    font-size: inherit;
    color: black;
}

.carousel-inner{
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 350px;
}
