@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    text-align: center; /*Align everything to the center*/
}

h1{
    /*A bit of spacing between letters*/
    letter-spacing: 2px;
}

label{
    font-size: 22px;
    font-weight: normal;
}

#spaceEvents{
    font-size: inherit;
    color: black;
}

#months{
    font-size: inherit;
    color: black;
}

.carousel-inner{
    /*Set this div to the middle of the page
    The image size will be at max 350x350 pixels
    */
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 350px;
}

.btn{
    font-weight: bold;
    color: black;
}
